*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: #fff; }

li {
  list-style-type: none; }

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7; }

html {
  font-size: 62.5%; }

.nav-bar {
  font-size: 1.4rem; }

.btn-primary {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold; }

.u-padding-small {
  padding: 2rem;
  align-items: center; }

.u-margin-left-auto {
  margin-left: auto; }

.btn-primary {
  padding: 3px;
  width: 15rem;
  height: 4rem;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  transition: all 0.2s; }
  .btn-primary:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-primary:active {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); }

.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 9%;
  background-image: linear-gradient(to right, #79f1a4, #0e5cad); }
  .nav-bar ul {
    display: flex; }
  .nav-bar__item {
    margin-right: 2.5rem;
    margin-top: 0.6rem; }
