.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 9%;
  background-image: linear-gradient(to right, #79f1a4, #0e5cad);

  ul {
    display: flex;
  }

  &__item {
    margin-right: 2.5rem;
    margin-top: 0.6rem;
  }
  &__anchor {
  }
}
