// <paddind>

.u-padding-small {
  padding: 2rem;
  align-items: center;
}
// <paddind>
// <margin>

.u-margin-bottom-small {
  margin-bottom: 5rem;
}

.u-margin-bottomt-top-larg {
  margin-bottom: 40rem;
  margin-top: 40rem;
}

.u-margin-bottomt-top-med {
  margin-bottom: 20rem;
  margin-top: 20rem;
}

.u-margin-left-auto {
  margin-left: auto;
}
// </margin>
// <center text>

.text-center {
  text-align: center;
}
// </center text>