.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 120rem;
  margin-bottom: 10rem;

  &__title {
    font-size: $font-size-0;
    color: $orange-1;
  }

  &__paragraph {
    display: inline-block;
    font-size: $font-size-1;
    color: $grey-1;
    width: 60rem;
    @include respond(phone) {
      width: 90%;
    }
  }

  &-holder {
    text-align: center;
    margin: 10rem auto;
  }
  @include respond(phone) {}
}

.testimonial {
  // background-color: $grey-2;
  // padding: 1rem 0;
}