.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 120rem;
  // margin: 30rem 0;
  &__title {
    margin-top: 10rem;
    font-size: $font-size-0;
    color: $orange-1;
  }

  &__paragraph {
    display: inline-block;
    font-size: $font-size-1;
    color: $grey-1;
    width: 60rem;
  }
}

.testimonials {
  background-color: $grey-2;
  // padding: 1rem 0;
}

.heading-secondary {
  font-size: $font-size-6;
  margin-bottom: 1rem;
}