.btn {
  padding: 0.6rem 0.8rem;
  width: 16rem;
  height: 4rem;
  font-size: $font-size-0;
  font-weight: bold;
  text-align: center;
  transition: all 0.2s;
  display: inline-block;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1rem 1rem rgba($black-1, 0.2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($black-1, 0.2);
    transform: translateY(-1px);
  }

  &-primary {
    border: 0.1rem solid $white-1;
    border-radius: $border-radius-1;

    &:active {
      background-color: $white-1;
      color: $black-1;
    }
    @include respond(phone) {
      margin-top: 1rem;
      width: 10rem;
      height: 3rem;
      background-color: $orange-1;
      color: $white-1;
    }
  }

  &-secondary {
    background-color: $black-1;
    color: $white-1;
    border-radius: $border-radius-1;

    &:active {
      background-color: $white-1;
      color: $black-1;
    }
    @include respond(phone) {
      padding-top: 1rem;
    }
  }
}

.floating-btn {
  text-align: center;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  color: $black-1;
  transition: all 0.2s;
  animation: bounceUpDown 2s infinite;

  &:hover {
    transform: translateY(-4px);
  }

  &:active {
    transform: translateY(-2px);
  }

  &--primary {
    display: inline-block;
    font-size: 4rem;
    position: absolute;
    top: 120%;
    left: 45%;
  }
  @include respond(phone) {
    display: none;
  }
  @include respond(tab-port) {
    display: none;
  }
}

.shrink-btn {
  border: none;
  background-color: $orange-1;
  color: $white-1;

  &:active {
    border: none;
    background-color: $black-1;
    color: $white-1;
  }
}