.bg-video {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -100;
  object-fit: cover;
  opacity: 0.7;

  &-1 {
    position: absolute;
    clip-path: polygon(50% 0%, 100% 0, 100% 75%, 50.3% 100%, 0 75%, 0 0);
  }

  &-2 {}
}