.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    box-shadow: 0 0 47px -1px rgba(153, 153, 153, 0.2);
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    background-color: $white-1;
    font-size: $font-size-1;
    @include respond(tab-port) {
      width: 25rem;
      height: 25rem;
    }
    @include respond(phone) {
      width: 15rem;
      height: 15rem;
    }
  }

  &__icon {
    width: 5rem;
  }

  &__box {
    margin: 4rem;
    font-size: $font-size-1;
    width: 30rem;
    height: 45rem;
    text-align: center;

    &-holder {
      width: 30rem;
      height: 30rem;
      box-shadow: 0 0 47px -1px rgba(153, 153, 153, 0.2);
      @include respond(phone) {
        width: 20rem;
        height: 20rem;
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      border-radius: 3px;
      transition: all 0.4s;

      &:hover {
        transform: scale(1.07);
      }
    }

    &-title {
      margin-top: 1rem;
      color: $grey-1;
      font-size: $font-size-0;
    }

    &-description {
      font-weight: bold;
      font-size: $font-size-2;
      @include respond(phone) {
        // width: 15rem;
      }
    }
    @include respond(phone) {
      width: 20rem;
      height: 35rem;
    }
  }

  .testimonial {
    &__item {
      padding: 1rem;
      height: 40rem;
      width: 30rem;
      margin: 2rem;
      position: relative;
      @include respond(tab-port) {
        width: 20rem;
        height: 20rem;
      }
      @include respond(phone) {
        width: 20rem;
        height: 20rem;
      }
    }

    &__img {
      position: absolute;
    }

    &__img-1 {
      top: -1rem;
      left: -1.5rem;
    }

    &__img-2 {
      bottom: -1rem;
      right: -1.5rem;
    }
  }
}
