.header {
  position: relative;
  height: 98vh;
  width: 100%;

  &__text-box--1 {
    text-align: center;
    @include positioningAB;
    @include respond(phone) {
      width: 90%;
    }
  }
  @include respond(phone) {
    height: 100vh;
  }
}