.header {
  position: relative;
  height: 98vh;
  width: 100%;
  // background-blend-mode: screen;
  // background-image: linear-gradient(to right bottom, rgba($orange-1,.85),rgba($orange-2, .85));
  &__text-box--1 {
    text-align: center;
    @include positioningAB;
  }
}

.brand-name {
  width: 12rem;

  &__logo {
    width: 100%;
    height: 100%;
  }
}