.nav-bar {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid $white-2;
  z-index: 10000;
  font-size: $font-size-1;
  transition: all 0.5s;

  ul {
    display: flex;
  }

  &__item {
    margin-right: 4rem;
    margin-top: 0.6rem;
  }

  &__anchor {
    position: relative;
    // transition: all 2s ease-in;
    &::after {
      position: absolute;
      display: inline-block;
      content: "";
      background: $white-1;
      z-index: 100;
      width: 0;
      height: 2px;
      left: 0;
      bottom: -10px;
      transition: all 0.3s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.shrink {
  border: none;
  height: 6rem;
  background-color: rgba($black-1, 0.8);
}